* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #230E3D;
    color: white;
}

.container {
    max-width: 1250px;
    margin: 0 auto;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul {
    display: flex;
    gap: 32px;
    padding: 0px;
    list-style: none;
}

.navbar ul li a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.btn-primary {
    width: 136px;
    font-weight: 600;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    border: navajowhite;
    border-radius: 24px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);

}

.btn:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.shadow:hover {
    box-shadow: 10px 10px 10px #9100f834;
}
/* .shadow {
    box-shadow: 10px 10px 10px #1A0B2E;
} */


.banner-section {
    height: 760px;
    border-top: 1px solid #2a186c;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-images {
    height: 350px;
    width: 350px;
    background-image: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new {
    position: absolute;
    top: 11px;
    right: 28px;
    box-shadow: 10px 10px 10px #1A0B2E;

    background-color: #00FF88;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border-radius: 20px;
}

.new p {
    font-weight: 600;
    font-size: 18px;
}

.banner-title {
    font-size: 4rem;
    margin-top: 8px;
}

.banner-p {

    padding: 14px 0px;
}

.banner-buttons {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.spotify {
    width: 200px;

}

.subscribe {
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 20px;
    color: #00FF88;
}

.text-gray {
    color: rgba(255, 255, 255, 0.7);
}

.text-B {
    font-size: 3rem;

}

.gradient {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;

}

/* about-section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 120px;
    gap: 80px;
}

.about-description {

    text-align: center;
}

.about-description {
    width: 70%;
}

.divider {
    height: 2px;
    background-color: #898585;


}

.text-gray {
    color: rgba(255, 255, 255, 0.7);
}
.about-p{
    padding: 16px;
}

.about-numbers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.number h2 {
    font-size: 3rem;
    margin: 1rem;
    color: #00FF88;
}

.number p {
    color: rgba(255, 255, 255, 0.8);
}

.GG {
    color: #00FF88;
}

/* Why choose section */


.why-choose {
    background-color: #230E3D;
    padding: 120px auto;
}

.wcs-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 120px;
}

.wcs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.paq {
    grid-row: span 2;
}

.mf,
.gc,
.ei {
    grid-column: span 2;
}

.card {
    padding: 3rem;
    border-radius: 40px;
    background-color: #351165;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.card p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.lift {
    display: inline-block;
    transition: transform 0.4s cubic-bezier((.34, 1.55, .64, 1));
}

.lift:hover {
    transform: scale(1.05);
}