* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #230E3D;
    color: white;
}

.container {
    max-width: 1250px;
    margin: 0 auto;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul {
    display: flex;
    gap: 32px;
    padding: 0px;
    list-style: none;
}

.navbar ul li a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.btn-primary {
    width: 136px;
    font-weight: 600;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    border: navajowhite;
    border-radius: 24px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);

}

.btn:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.shadow:hover {
    box-shadow: 10px 10px 10px #9100f834;
}

/* .shadow {
    box-shadow: 10px 10px 10px #1A0B2E;
} */


.banner-section {
    height: 760px;
    border-top: 1px solid #2a186c;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-images {
    height: 350px;
    width: 350px;
    background-image: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new {
    position: absolute;
    top: 11px;
    right: 28px;
    box-shadow: 10px 10px 10px #1A0B2E;

    background-color: #00FF88;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border-radius: 20px;
}

.new p {
    font-weight: 600;
    font-size: 18px;
}

.banner-title {
    font-size: 4rem;
    margin-top: 8px;
}

.banner-p {
    padding: 15px 40px;
    font-size: 18px;
}
   
.banner-buttons {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.spotify {
    width: 200px;

}

.subscribe {
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 20px;
    color: #00FF88;
}

.text-gray {
    color: rgba(255, 255, 255, 0.7);
}

.text-B {
    font-size: 3rem;

}

.text-H {
    text-align: center;
    padding: 3rem;
}

.gradient {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;

}

/* about-section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 120px;
    gap: 80px;
}

.about-description {

    text-align: center;
}

.about-description {
    width: 70%;
}

.divider {
    height: 2px;
    background-color: #898585;


}

.text-gray {
    color: rgba(255, 255, 255, 0.7);
}

.about-p {
    padding: 16px;
}

.about-numbers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.number h2 {
    font-size: 3rem;
    margin: 1rem;
    color: #00FF88;
}

.number p {
    color: rgba(255, 255, 255, 0.8);
}

.GG {
    color: #00FF88;
}

/* Why choose section */


.why-choose {
    background-color: #230E3D;
    padding: 120px auto;
}

.wcs-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 120px;
}

.wcs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.paq {
    grid-row: span 2;
}

.mf,
.gc,
.ei {
    grid-column: span 2;
}

.card {
    padding: 3rem;
    border-radius: 40px;
    background-color: #351165;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.card p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.lift {
    display: inline-block;
    transition: transform 0.4s cubic-bezier((.34, 1.55, .64, 1));
}

.lift:hover {
    transform: scale(1.05);
}

/* .Fetured section  */
.featured-section {
    display: flex;
    flex-direction: column;
    /* padding: 120px 200px; */
    width: 85%;
    margin: auto;
}

.f-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 120px;
    gap: 30px;
}

.v-card iframe {
    width: 100%;
    height: 210px;
    border-radius: 1rem 1rem 0 0;
}

.v-card {
    width: 360px;
    background-color: #250D44;
    border-radius: 1rem;
}

.v-card h3 {
    margin: 10px 0;
    font-size: 1rem;
    padding: 0px 25px;
}

.v-card p {
    color: rgba(255, 255, 255, 0.7);
    padding: 0px 25px;
}

.f-card {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 0px 10px;
    flex-direction: row;
}

.duration {
    display: flex;
    align-items: center;
    grid: 5px;
    padding: 0px 25px 10px;
}

/* meet the host  */
.host-box {
    background-color: #250D44;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    padding: 40px;
    gap: 24px;

}

.host-box h2 {
    align-items: center;
    justify-content: center;

}

.host-box h3 {
    font-size: 2rem;
}

.host-box p {
    color: rgba(255, 255, 255, 0.7);
}

.host-text {
    margin: 16px 0;
}

.icons {
    text-align: center;

    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 40px;

}

/* footer section  */
.footer {
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}



.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.footer-title {
    font-size: 3.75rem;
    margin: 0px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 24px;
}

.social div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social div img {
    height: 24px;
    width: 24px;
}

.flex,
.big-flex {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.copyr {
    text-align: center;
}

footer {
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
}


/* responsive design for small device  */

@media screen and (max-width:576px) {
    .navbar {
        justify-content: space-between;
        padding: 5px 10px;
    }

    .navbar ul,
    .navbar button {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-section {
        height: 100%;
        background-position-y: 50px;
        margin-top: 0px;
        padding: 30px 0;
    }

    .banner-title {
        font-size: 2.5rem;
        padding-top: 18px
    }

    .banner-images {
        height: 200px;
        width: 200px;
    }

    img.micro {
        height: 100px;
        width: auto;
    }

    .banner-image img {
        height: 82px;
        display: block;
    }

    .new {
        position: absolute;
        top: 3px;
        right: 5px;
    }

    .new p {
        font-size: 14px;
    }

    .navbar ul {
        margin-top: -30px;
    }

    .about-numbers {
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 0 30px;

    }

    .number h2 {
        padding-top: 18px
    }

    .featured-section {
        padding: 0px;
        width: 95%;
    }

    .host-box {

        display: flex;
        flex-direction: column;

    }

    .meet-the-host {
        text-align: center;
    }

    .icons {

        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .big-flex {
        display: inline;
        gap: 8px;
        justify-content: center;
    }

    .wcs-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 15px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
    }

    h2.text-B.wcs-title.wc-title-text {
        font-size: 2rem;
    }



    .v-card {
        width: 100%;
    }

    .f-card {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .paq {
        grid-row: span 0;
    }

    .text-B {
        font-size: 2.5rem;
    }

    .nav-text-icon {
        font-size: 1.8rem;
    }

    .hamburger-bars {
        width: 22px;
    }

    .wcs-title {
        margin-bottom: 15px;
        padding: 20px 10px;
    }

    .footer-icon.flex {
        padding: 10px 0;
    }

    .text-H {
        padding: 1rem 0;
    }
}

/* responsive for medium */